<main class="holder">
    <div class="columna left">
        <h2>Contacto Rápido</h2>
        <form action="/contacto" method="post" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="">Email</label>
                <input type="email" name="email">
            </p>
            <p>
                <label for="">Teléfono</label>
                <input type="text" name="tel">
            </p>
            <p>
                <label for="comentario">Comentario</label>
                <textarea name="mensaje" id="comentario"></textarea>
            </p>
            <p class="acciones"><input type="submit" value="Enviar"></p>
        </form>

        <p>{{message}}</p>

    </div>
    <div class="columna right">
        <h2>Otras vias de contacto</h2>
        <p>Tambien se pueden comunicar con nosotros ....</p>
        <ul>
            <li>Teléfono: 4578-7894</li>
            <li>Email:contacto@transportesX.com.ar</li>
            <li>Facebook:</li>
            <li>Twitter:</li>
            <li>Skype:</li>
        </ul>
    </div>
</main>