<main class="holder">
    <div class="homeimg">
        <img src="images/home/img01.jpg" alt="Avion">
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non voluptas perferendis cumque dolores
                cupiditate, nostrum natus veritatis, ut, error accusantium ea neque sunt esse illum. Repudiandae odit
                nemo consequatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quaerat veniam odio voluptatibus ratione
                consequuntur libero ipsa dolorum illo accusamus animi at deserunt ut atque! Aliquid provident aspernatur
                at repellat.</p>
        </div>
        <div class="testimonios right">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente Excelente</span>
                <span class="autor">Juan Perez - zapatos.com</span>
            </div>
        </div>
    </div>
</main>