<main class="holder">
    <div class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis omnis velit placeat magni quos
            molestiae eaque reprehenderit, dolorum optio delectus corporis accusamus ipsum nostrum quas vel veniam qui
            in.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eaque alias exercitationem reiciendis fugiat,
            id quis doloremque tempora? Beatae expedita possimus nemo ex eos nostrum quasi commodi sint voluptatibus
            praesentium?</p>
    </div>
    <div class="staff">
        <h2>Staff</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                <h5>Juan Gomez</h5>
                <h6>Gerente Gerenal</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deleniti, quo optio dolores
                    quaerat totam eum ipsa tempora expedita, incidunt natus alias labore voluptatum odit veniam
                    necessitatibus vero quasi architecto?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="Diana reyes">
                <h5>Diana Reyes</h5>
                <h6>Gerente Comercial</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deleniti, quo optio dolores
                    quaerat totam eum ipsa tempora expedita, incidunt natus alias labore voluptatum odit veniam
                    necessitatibus vero quasi architecto?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zaptos">
                <h5>Roberto Zaptos</h5>
                <h6>Gerente de Sistemas</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deleniti, quo optio dolores
                    quaerat totam eum ipsa tempora expedita, incidunt natus alias labore voluptatum odit veniam
                    necessitatibus vero quasi architecto?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero">
                <h5>Sandra Mastropiero</h5>
                <h6>Gerente de Marketing</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deleniti, quo optio dolores
                    quaerat totam eum ipsa tempora expedita, incidunt natus alias labore voluptatum odit veniam
                    necessitatibus vero quasi architecto?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero">
                <h5>Luciano Figuero</h5>
                <h6>Gerente Logistica</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, deleniti, quo optio dolores
                    quaerat totam eum ipsa tempora expedita, incidunt natus alias labore voluptatum odit veniam
                    necessitatibus vero quasi architecto?</p>
            </div>
        </div>
    </div>
</main>