<main class="holder">
    <h2>Servicios</h2>
    <div class="servicio">
        <img src="images/servicios/ferroviario.jpg" alt="tren">
        <div class="info">
            <h4>Transporte Ferroviario</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque in error quae ad reprehenderit doloremque
                esse, repellendus doloribus veritatis dignissimos commodi! Voluptatibus nostrum esse quibusdam nesciunt
                dolore asperiores dignissimos mollitia.</p>
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/aereo.jpg" alt="avion">
        <div class="info">
            <h4>Transporte Aereo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque in error quae ad reprehenderit doloremque
                esse, repellendus doloribus veritatis dignissimos commodi! Voluptatibus nostrum esse quibusdam nesciunt
                dolore asperiores dignissimos mollitia.</p>
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/maritimo.jpg" alt="barco">
        <div class="info">
            <h4>Transporte Maritimo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque in error quae ad reprehenderit doloremque
                esse, repellendus doloribus veritatis dignissimos commodi! Voluptatibus nostrum esse quibusdam nesciunt
                dolore asperiores dignissimos mollitia.</p>
        </div>
    </div>
    <div class="servicio">
        <img src="images/servicios/terrestre.jpg" alt="camion">
        <div class="info">
            <h4>Transporte Terrestre</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque in error quae ad reprehenderit doloremque
                esse, repellendus doloribus veritatis dignissimos commodi! Voluptatibus nostrum esse quibusdam nesciunt
                dolore asperiores dignissimos mollitia.</p>
        </div>
    </div>
</main>