div{
    width: 400px;
    margin: 100px;
}

.circulo{
    background: #676470;
    color: #fff;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.circulo:hover{
    background: #7d7a85;
}

